<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style type="text/css">
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

    </style>
</head>

<body>
    <div id="app">
        <el-container style="height: 500px; border: 1px solid #eee">
            <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
                <el-menu :default-openeds="['1', '3']">
                  <el-submenu index="1">
                    <template slot="title"><i class="el-icon-s-home"></i>关于我</template>
                    <el-menu-item index="1-1-1" :class="num==1?'active':''" @click="num=1">个人主页</el-menu-item>
                  </el-submenu>

                  <el-submenu index="2">
                    <template slot="title"><i class="el-icon-menu"></i>学习</template>
                    <el-submenu index="2-1">
                      <template slot="title">科研</template>
                      <el-menu-item index="2-1-1" :class="num==1?'active':''" @click="num=21">科研助手</el-menu-item>
                      <el-menu-item index="2-1-1">科研助手</el-menu-item>
                    </el-submenu>
                  </el-submenu>
                  <el-submenu index="3">
                    <template slot="title"><i class="el-icon-setting"></i>Navigator Three</template>
                    <el-menu-item-group>
                      <template slot="title">Group 1</template>
                      <el-menu-item index="3-1">Option 1</el-menu-item>
                      <el-menu-item index="3-2">Option 2</el-menu-item>
                    </el-menu-item-group>
                    <el-menu-item-group title="Group 2">
                      <el-menu-item index="3-3">Option 3</el-menu-item>
                    </el-menu-item-group>
                    <el-submenu index="3-4">
                      <template slot="title">Option 4</template>
                      <el-menu-item index="3-4-1">Option 4-1</el-menu-item>
                    </el-submenu>
                  </el-submenu>
                </el-menu>
              </el-aside>
            <el-container>
                <el-header style="text-align: right; font-size: 12px">
                    <el-dropdown>
                        <i class="el-icon-setting" style="margin-right: 15px"></i>
                        <el-dropdown-menu slot="dropdown">
                            <el-dropdown-item>查看</el-dropdown-item>
                            <el-dropdown-item>新增</el-dropdown-item>
                            <el-dropdown-item>删除</el-dropdown-item>
                        </el-dropdown-menu>
                    </el-dropdown>
                    <span>hao</span>
                </el-header>

                <el-main>
                    <el-table :data="item"  v-show="num==1">
                        <el-table-column prop="type" label="类型" width="140">
                        </el-table-column>
                        <el-table-column prop="name" label="网站" width="120">
                        </el-table-column>
                        <el-table-column prop="address" label="网址" width="200">
                            <template slot-scope="scope">
                                <a target="_blank" :href="scope.row.address"
                                    style="white-space:nowrap"><u>{{scope.row.address}}</u></a>
                            </template>
                        </el-table-column>
                        <el-table-column prop="description" label="描述">
                        </el-table-column>
                    </el-table>

                    <el-table :data="study"  v-show="num==21">
                        <el-table-column prop="type" label="类型" width="140">
                        </el-table-column>
                        <el-table-column prop="name" label="网站" width="120">
                        </el-table-column>
                        <el-table-column prop="address" label="网址" width="200">
                            <template slot-scope="scope">
                                <a target="_blank" :href="scope.row.address"
                                    style="white-space:nowrap"><u>{{scope.row.address}}</u></a>
                            </template>
                        </el-table-column>
                        <el-table-column prop="description" label="描述">
                        </el-table-column>
                    </el-table>
                </el-main>
            </el-container>
        </el-container>
    </div>

    <script type="text/javascript">
        new Vue({
            el: "#app",
            data: {
                // 当前索引（显示的索引，需要添加class的索引）
                num: 1,
                item: [{
                    type: '关于我',
                    name: '主页',
                    address: 'https://www.yhao.pp.ua',
                    description: '我的个人主页'
                }, {
                    type: '关于我',
                    name: '域名注册',
                    address: 'https://nic.ua/',
                    description: 'yhao.pp.ua的过期日期：31 Jul 2024。账号是471288275，密码@'
                },
                ],
                study: [{
                    type: '科研',
                    name: '赛特新思',
                    address: 'https://www.citexs.com/',
                    description: 'SCI写作助手'
                }, {
                    type: '关于我',
                    name: '域名注册',
                    address: 'https://nic.ua/',
                    description: 'yhao.pp.ua的过期日期：31 Jul 2024。账号是471288275，密码@'
                },
                ]
            },
            // require引用：
            mounted() {
            // require引用时，放src和放statci都可以，建议放static
            const testJson = require('./json/test.json');
            const {testData, testArray, testObj} = testJson;
            console.log('testData',testData);
            // ‘hello world'
             console.log('testArray',testArray);
             // [1,2,3,4,5,6]
             console.log('testObj',testObj);
}

        })
    </script>
</body>

</html>